body{
  background-color: #191c27;
  color: #EAE6F2;
  overflow-x: hidden;

}
:focus-visible{
  outline : 2px solid #ffffff;
  outline-offset: 2px;
}
*,
*::before,
*::after{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #ffffff14;
}

li {list-style: none;}
a, img, span, input, button{
display: block;
}

img{height: auto;}


a {
  color: inherit;
  text-decoration: none;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #ffffff14;
  border-radius: 500px;
}

sup {vertical-align: top;}
sub, sup{font-size: 0.75rem;}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url(../font//material-symbol-rounded.woff2) format('woff2');
}
.m-icon{
  font-family: 'Material Symbols Rounded';
  font-size: 1.4rem;
  line-height: 1;
  height: 2rem;
  width: 1rem;
}


.header-iconbtn{
  background-color: #ffffff14;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #ffffff;
}

.location-btn:hover, .location-btn:focus {
  color: #fff;
  background-color: rgb(90, 98, 104);
  border-color: rgb(84, 91, 98);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.location-btn:active {
  color: #fff;
  background-color: rgb(1,7,14);
  border-color: rgb(1,7,14);
  transition: all 0.2s ease-in-out;
}

.compass-icon{
 
  font-size: 20px;
  line-height: 1;
  height: 1rem;
  width: 1rem;
  color: white;

}
.search-field{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #ffffff14;
    background-clip: padding-box;
    border: 1px solid #ffffff14;
    border-radius: 4.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-field:focus {
  color: #ffffff !important;
  background-color: #ffffff14;
  border-color: #ffffff14;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ffffff14;
}
.header-list{
  padding-block: 8px 16px;
}
.header-item{
  position: relative;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  padding-inline: 16px 24px;
}
.header-item-sub{
  color: #7B7980;
}
.ma-location-icon{
  color: #7B7980;
}
.header-item-link{
  position: absolute;
  inset: 0;
  box-shadow: none;
}

/* body section today highlight*/
.today-highlight{
background-color: #ffffff14;
border-radius: 15px;
min-height: 275px;
}
.thermo-icon{
  font-size: 40px;
transform:rotate(90deg);
margin-top: 10px;
}
.values-text{
  text-align: center;
  font-size: 12px;
}
.values-number{
  text-align: center;
}

/* hourly forecast & upcoming forecast */
.hourly-forecast, .upcoming-forecast{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hourly-inner{
  background-color: #ffffff14;
  border-radius: 15px;
  padding: 15px 25px;
  text-align: center;
}
.upcoming-inner{
  background-color: #ffffff14;
  border-radius: 15px;
  padding: 15px 25px;
}

.current-weather-inner{
  background-color: #ffffff14;
  border-radius: 15px;
  /* padding: 15px; */
}
.current-forecast-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr{
  border-top: 2px solid rgb(236 223 223 / 10%) !important;
}
.currrent-weather-last p{
  font-size: 13px;
}
.current-forecast-inner i{
  margin: 5px 0;
  font-size: 35px;
  color: rgb(241, 241, 75);
}
.water-drop{

  font-size: 25px;

}
.sun-icon{
  font-size: 25px;
}
.sun-setrise{
  background-color: #ffffff14;
  border-radius: 15px;
  min-height: 275px;
  
}
.sun-text{
  font-size: 13px;
}
.logo-section i{
 font-size: 40px;
}
.logo-text h3{
  line-height: 0.6;
  margin: 0;
  padding: 0;
}
.logo-text h4{
  margin-bottom: 0 !important;
}

.result{
  background-color: #000000ee;
  
  padding:0px 18px 7px 18px;
}
.has-search{
  position: relative;
}
.search-result-section{
  position: absolute;
  z-index: 9;
}

.single-result-item{
  cursor: pointer;
}

.h-divider {
  transform: rotate(90deg);
  position: absolute;
  width: 110px;
  top: 106px;
  right: -56px;
  background: #a3c4c4e0;
  height: 1px;
}
#current-location{
  cursor: pointer;
}
/* .btn-disable{
  pointer-events: none;
  cursor:none;
  color: #ffffff;
} */
.location-btn {
  gap: 11px;
  background: #ED5B2D;
  padding: 8px 13px;
  border-radius: 25px;
}

.filter-btn{
  background-color: #ED5B2D;
  border-radius: 50px;
border: none;
padding: 10px 20px 10px 20px;
}
.dropdown-menu{
background-color: rgba(0, 0, 0, 0.726);
color: white;
}
.dropdown-item{
  color: #ffffff;
}

.bg-dark {
  background-color: rgb(42,46,56) !important;
}

.sun-icon {

    margin-right: 10px;
}
.visibility-texticon{
  margin-top: 20px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: rgb(255, 255, 255);
  background-color: rgb(1 7 14);
  border-color: rgb(78, 85, 91);
}
.dropdown-menu{
  cursor: pointer;
}
#logo{
  cursor: pointer;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .responsive-icon{
    font-size: 22px;
  } 
  .values-number{
    font-size: 16px;
  }
  .humidity-value{
    font-size: 18px;
  }
  .pressure-value{
    font-size: 16px;
    padding-left: 5px;
  }
  .pressure-icon{
font-size: 15px;
  }
  .sunrise-value, .sunset-value{
    font-size: 20px;
  }
  .sun-icon {
    font-size: 15px;

      margin-right: 10px;

}

.visibility-text{
  font-size: 13px;
}
.feels-like-text {
  font-size: 12px;

}
.h-divider{
  display: none;
}
.upcoming-forecast-title{
  margin-top: 25px;
}
.current-weather-inner h6{
  font-size: 13px;
}
.current-forecast-inner h1{
  font-size: 27px;
  padding: 5px;
}

}
@media screen and (max-width: 768px) {
 

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.logo-section.d-flex.justify-content-center.align-items-center.order-1 {
  margin-right: 100px;
}
.has-search {
  padding-top: 12px;
}
.h-divider{
  display: none;
}
}
@media screen and (max-width: 600px) {
  .header-span{
    display: none;
  
  }
  .sun-icon{
    margin-right: 10px;
  }
  .body-section{
    margin-top: 0 !important;
  }
 .header{
  padding: 30px 30px 0 30px;
 } 
 .hourly-inner, .upcoming-inner{

  padding:12px 12px;

}
}